@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=optional');
@import url('../colors.css');
@import url('../shared/icons.css');

body, input, select {
	color: var(--main-text-color);
}
body {
	background: var(--main-bg-color);
	margin: 0;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 14px;
	position: relative;
	height: 100vh;
	display: flex;
	flex-direction: row;
	align-items: center;
}
body:after {
	content: '';
	background: var(--bg-light-color);
	position: absolute;
	left:0;right:0;
	bottom:0;
	height: 1px;
}
body:before {
	content: '';
	background: var(--bg-light-color);
	position: absolute;
	left:0;right:0;
	top:0;
	height: 1px;
}

.currentContainer {
	width: 50px;
	display: flex;
}
.icon.current {
	margin: auto;
}

.options.current :first-child {
	margin-left: 4px;
}
.options.current {
	display: flex;
	flex-direction: row;
	align-items: center;
}
.options.current label {
	margin-left: 1em;
	margin-right: 0.5em;
}

.options input[type="text"],
.options input[type="number"],
.options input[type="password"],
.options input[type="tel"],
.options input[type="search"],
.options input[type="email"],
.options input[type="date"],
.options input[type="time"],
.options input[type="month"],
.options input[type="datetime-local"],
.options input[type="week"],
.options input[type="url"],
.options select {
	background: var(--bg-light-color);
}

.options input[type="text"]:hover,
.options input[type="number"]:hover,
.options input[type="password"]:hover,
.options input[type="tel"]:hover,
.options input[type="search"]:hover,
.options input[type="email"]:hover,
.options input[type="date"]:hover,
.options input[type="time"]:hover,
.options input[type="month"]:hover,
.options input[type="datetime-local"]:hover,
.options input[type="week"]:hover,
.options input[type="url"]:hover,
.options select:hover {
/* 	background: ButtonFace; */
/* 	color: ButtonText; */
}

.options x-select {
	--select-main: var(--main-text-color);
	--select-main-bg: var(--bg-light-color);
}