body {
	margin: 0;
	/* height: 100vh; */
	/* width: 100vw; */
/* 	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0; */
}

#layout {
	overscroll-behavior: none;
	position: absolute;
	bottom: 0;
	right: 0;
	left: 0;
	top: 0;
	overflow: hidden;
}

#layout > .layout-container > .layout-container .pane {
	margin-bottom: -23px;
}
.tab .icon::before {
	display: inline-flex;
	padding-right: 3px;
	vertical-align: middle;
	margin-top: -1px;
	margin-left: -5px;
}

/* don't show colored icons for inactive tabs */
.tab:not(.active) span:before,
.pane:not(.active) .tab span:before {
	color: inherit !important;
	filter: grayscale(1);
}
