<form>
	<title>Open File</title>

	<div class="filesToOpen">
		{{#each files}}
			<div class="row">
				<input
					type="radio"
					id="{{this.name}}"
					name="filename"
					value="{{this.name}}"
					{{#if this.selected}}checked{{/if}} 
				>
				<label for="{{this.name}}">{{this.name}}</label>
			</div>
		{{/each}}
	</div>

	<div class="row align-right">
		<input type="button" value="Cancel">
		<input type="submit" value="OK">
	</div>
</form>