<form data-action="file-open-submit">
	<title>Open File</title>

    {{#each files}}
        <div>
          <input type="radio" id="{{this.name}}" name="selected-file" value="{{this.name}}">
          <label for="{{this.name}}">{{this.name}}</label>
        </div>
    {{/each}}

    <div class="row align-right">
		<input type="submit" value="Cancel">
		<input type="submit" value="OK">
	</div>
</form>