<form>
	<title>Create New File</title>

	<label for="name">Name</label>
	<input type="text" id="name" name="name" autocomplete="off" value="Untitled" autofocus>

	<div class="row">
		<label for="width">Width:</label>
		<input type="text" id="width" name="width" autocomplete="off" value="1024">
	</div>

	<div class="row">
		<label for="height">Height:</label>
		<input type="text" id="height" name="height" autocomplete="off" value="768">
	</div>
	
	<div class="row">
		<label for="bgColor">Background Color: </label>
		<input type="color" id="bgColor" name="bgColor" value="#e66465">
	</div>

	<div class="row align-right">
		<input type="button" value="Cancel" onclick="this.closest('form').onsubmit('cancel')">
		<input type="submit" name="submit" value="OK">
	</div>

</form>
