<form data-action="filter-blur-submit">
    <title>Blur</title>

<div class="filterBlur">
    <p>Amount</p>
    <input type="range" min="1" max="100" value="50">
</div>

<div class="row align-right">
    <input type="submit" value="Cancel">
    <input type="submit" value="OK">
</div>

</form>
