<form>
	<title>Filter</title>

	{{#if blur}}
	<div class="row filterBlur">
		<label for="blurAmount">Blur Amount</p>
		<input id="blurAmount" name="blurAmount" type="range" min="1" max="40" value="6">
	</div>
	{{/if}}

	{{#if dither}}
	<div class="row filterDither">
		<label for="ditherAmount">Dither Amount</p>
		<input id="ditherAmount" name="ditherAmount" type="range" min="1" max="32" value="8">
	</div>
	{{/if}}

	{{#if noise}}
	<div class="row filterNoise">
		<label for="noiseAmount">Noise Amount</p>
		<input id="noiseAmount" name="noiseAmount" type="range" min="1" max="100" value="50">
	</div>
	{{/if}}

	{{#if pixelate}}
	<div class="row filterPixelate">
		<label for="pixelateAmount">Pixelate Amount</p>
		<input id="pixelateAmount" name="pixelateAmount" type="range" min="1" max="100" value="10">
	</div>
	{{/if}}

	{{#if rescale}}
	<div class="row filterRescale">
		<label for="rescaleAmount">Rescale Amount</p>
		<input id="rescaleAmount" name="rescaleAmount" type="range" min="1" max="5" value="2">
	</div>
	{{/if}}

	{{#if sharpen}}
	<div class="row filterSharpen">
		<label for="sharpenAmount">Sharpen Amount</p>
		<input id="sharpenAmount" name="sharpenAmount" type="range" min="1" max="10" value="3">
	</div>
	{{/if}}

	<div class="row align-right">
		<input type="button" value="Cancel" onclick="this.closest('form').onsubmit('cancel')">
		<input type="submit" name="submit" value="Apply">
	</div>

</form>
