
<form data-action="layerNew">


	{{#if fromUrl}}
		<title>New Layer from URL</title>
		<div class="row"></div>
		<div>
			<label for="image-url">Image URL</label>
			<input type="text" id="image-url" name="image-url" autocomplete="off">
		</div>
		<div class="row"></div>
	{{/if}}

	{{#if fromImage}}
		<title>New layer from Image</title>
		<input
			type="text" id="data-uri" name="image-data-uri"
			class="hidden"
		>
		<input
			type="text" id="name" name="image-name"
			class="hidden"
		>
		<div class="row"></div>
		<div class="row">
			<label for="image-local">Image</label>
			<input
				type="file" id="image-local" name="image-local"
				accept="image/*"
				onchange="const r=new FileReader;r.onload=()=>document.getElementById('data-uri').value=r.result;r.readAsDataURL(event.target.files[0]);document.getElementById('name').value=event.target.files[0].name;"
			>
		</div>
		<div class="row"></div>
	{{/if}}

	<div class="row align-right">
		<input type="submit" value="Cancel">
		<input type="submit" value="OK">
	</div>
</form>
