<form>

	{{#if fromUrl}}
		<title>New Layer from URL</title>
		<div>
			<label for="image-url">Image URL</label>
			<input
				type="text" id="image-url" name="image-url" autocomplete="off"
				autofocus
			>
		</div>
		<div class="row"></div>
	{{/if}}

	{{#if fromImage}}
		<title>New layer from Image</title>
		<div class="row"></div>
		<div class="row">
			<label for="image">Image</label>
			<input
				type="file" id="image" name="image"
				accept="image/*"
				autofocus
			>
		</div>
		<div class="row"></div>
	{{/if}}

	<div class="row align-right">
		<input type="button" value="Cancel">
		<input type="submit" value="OK">
	</div>
</form>
