@import url('../colors.css');
@import url('../shared/icons.css');

:root {
	--button-pad: 3px;
}

body {
	margin: 4px;
	background: var(--main-bg-color);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.icon:hover:before,
.icon.selected:before {
	content: '';
	border-radius: 3px;
	box-shadow: inset 0px 0px 10px  var(--bg-dark-color);
	opacity: 0.5;
	position: absolute;
	z-index: -1;
	left:var(--button-pad); top:var(--button-pad);
	right:var(--button-pad); bottom:var(--button-pad);
}

color-selector {
	margin-top: 1em;
	color-scheme: dark light;
}
