:root {
	--button-pad: 3px;
}

body {
	margin: 4px;
	background: #333333;
}
.icon {
	background: url("./icons.svg");
	background-repeat: no-repeat;
	background-size: 528px 48px;
	height: 30px;
	width: 30px;
	zoom: 1.4;
	position: relative;
}
.icon:hover:before,
.icon.selected:before {
	content: '';
	border-radius: 3px;
	box-shadow: inset 0px 0px 10px black;
	opacity: 0.5;
	position: absolute;
	z-index: -1;
	left:var(--button-pad); top:var(--button-pad);
	right:var(--button-pad); bottom:var(--button-pad);
}
.select-free { background-position: -9px -8.5px; }
.select-box { background-position: -40.5px -8.5px; }
.erase { background-position: -72px -8.5px; }
.fill { background-position: -104px -8.5px; }
.dropper { background-position: -136px -8.5px; }
.mag { background-position: -168px -8.5px; }
.pencil { background-position: -201px -8.5px; }
.brush { background-position: -233px -8.5px; }
.airbrush { background-position: -264.25px -8.5px; }
.text { background-position: -295.5px -8.5px; }
.line { background-position: -329px -8.5px; }
.curve { background-position: -360px -8.5px; }
.rect { background-position: -392.5px -8.5px; }
.poly { background-position: -424px -8.5px; }
.ellipse { background-position: -456.25px -8.5px; }
.rounded { background-position: -488.5px -8.5px; }