@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
@import url('../colors.css');

body {
	background: ButtonFace;
	background: var(--main-bg-color);
	color: var(--main-text-color);
	margin: 0;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 14px;
	position: relative;
}
/* body:before {
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: -1;
	opacity: 0.45;
	background: ButtonFace;
} */

svg {
	width: 19px;
	margin-top: 4px;
	margin-right: 4px;
	fill: var(--main-text-color);
	opacity: 0.8;
	margin-left: 9px;
}
path {
	stroke-width: 0;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	align-items: center;
	height: 100vh;
}
li {
	display: inline-block;
	cursor: default;
	margin-left: 0.25em;
	position: relative;
/* 	opacity: 0.8; */
}
label {
	padding: 0.1em 0.3em;
}
label:hover:before {
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: -1;
	opacity: 0.5;
	box-shadow: inset 0px 0 10px 20px var(--bg-dark-color);
	border-radius: 0.25em;
}

label {
	position: relative;
	user-select: none;
}
label select {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	opacity: 0;
}