@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=optional');
@import url('../colors.css');

body {
	background: ButtonFace;
	background: var(--main-bg-color);
	color: var(--main-text-color);
	margin: 0;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 14px;
	position: relative;
	display: flex;
	flex-direction: row;
	align-items: center;
}
/* body:before {
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: -1;
	opacity: 0.45;
	background: ButtonFace;
} */


@media (prefers-color-scheme: dark) {
	.logo {
		background-image: url("../shared/logo.svg");
	}
}
@media (prefers-color-scheme: light) {
	.logo {
		background-image: url("../shared/logo.dark.svg");
		zoom: 1.2;
	}
}
.logo {
	background-repeat: no-repeat;
	background-size: cover;
	height: 1.2em;
	width: 1.2em;
	margin: auto;
}
.logoContainer {
	width: 50px;
	display: flex;
}

ul :first-child {
	margin-left: 0;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	align-items: center;
	height: 100vh;
}
li {
	display: inline-block;
	cursor: default;
	margin-left: 0.5em;
	position: relative;
}
label {
	padding: 0.1em 0.3em;
}
label:hover:before {
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: -1;
	opacity: 0.5;
	box-shadow: inset 0px 0 10px 20px var(--bg-dark-color);
	border-radius: 0.25em;
}

label {
	position: relative;
	user-select: none;
}
label select {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	opacity: 0;
}