
.optionButton {
	cursor: default;
	display: inline-block;
	border-radius: 0.25em;
	background: var(--bg-light-color);
	padding: 0.25em;
	text-transform: uppercase;
	min-width: 3.5em;
	text-align: center;
}
.optionButton:not(.selected):hover {
	background: var(--bg-light-hover-color);
}
.optionButton.selected {
	background: var(--bg-highlight-color);
}

.optionButton:first-child {
	border-bottom-right-radius: 0;
	border-top-right-radius: 0;
	padding-left: 0.75em;
	padding-right: 0.5em;
}
.optionButton:last-child {
	border-bottom-left-radius: 0;
	border-top-left-radius: 0;
	padding-right: 0.75em;
	padding-left: 0.5em;
}
.optionButton:not(:first-child):not(:last-child) {
	margin-left: 0;
	border-radius: 0;
	border-bottom-left-radius: 0;
	padding-right: 1em;
	padding-left: 1em;
}